---
layout: base.njk
noFooter: false
eleventyComputed:
  title: "{{ site.title }}"
---

<div class="">
	<div
		class=" flex items-center justify-between flex-wrap profile-card items-center pb-2 border-b-8 border-main-light dark:border-main-dark"
	>
		<div class="w-full sm:w-1/3 image">
			<img src="{{ '/images/pc.jpg' | url }}" alt="{{ site.author }}" />
		</div>
		<div class="w-full sm:w-2/3 p-2">{{ content | safe }}</div>
	</div>
	<!-- <div class=" quotes">
      <hr class="border-t-4 mt-2">
      {% include "qoute-manager.njk" %}
    </div> -->
</div>
